.big-button {
  background: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);
  color: white;
  font-size: $l-size;
  font-weight: bold;
  margin-bottom: $xl-size;
  outline: none;
  padding: $m-size * 1.5;
  width: 100%;
}

.big-button:disabled,
.big-button[disabled] {
  opacity: 0.5;
}

.button {
  background: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  outline: none;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

@media (max-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $m-size;
  }
}
